.content-items{
    height: 86px;
    border: 1px solid silver;
}

.img-employee{
    height:84px;
    width: 100%;
    cursor: pointer;
    /* border-radius: 50%; */
}

.items{
    display: inline-flex;
    width: 100%;
}

.content-img{
    width: 25%;
}

.content-info{
    width: 75%;
}

.data{
    margin-left:10px;
}

.name{
    cursor: pointer;
    font-weight: bold;
}

.name:hover{
    text-decoration: underline;
}

.position{
    color: gray;
}