.content-items{
    height: 86px;
    border: 1px solid silver;
}

.img-employee{
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
}

@media (max-width: 400px) {
    .img-employee{
        height:170px; 
    }

    .data{
        margin-left: 15px;
        margin-top: 50px;
    }
  }

  @media (min-width: 401px) {
    .img-employee{
        height:225px; 
    }

    .data{
        margin-left: 15px;
        margin-top: 84px;
    }
  }

  
  @media (min-width: 768px) {
    .img-employee{
        height:291px; 
    }

    .data{
        margin-left: 15px;
        margin-top: 112px;
    }
  }

  @media (max-width: 991px) {
      .content-img{
        width: 40%;
      }
      
      .content-info{
        width: 60%;
      }
}

  @media (min-width: 992px) {
    .img-employee{
        height:291px; 
    }

    .content-img{
        width: 30%;
      }
      
      .content-info{
        width: 70%;
      }

      .data{
        margin-left: 20px;
        margin-top: 108px;
      }
  }



.data-employee{
    border: 2px solid #eee;
    padding: 0px;
}

.item{
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.name{
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}

.name:hover{
    text-decoration: underline;
}

mat-expansion-panel-header{
    height: 81px !important;
}

mat-panel-title{
    font-weight: bold;
}

.position{
    color: gray;
}