.content-items{
    height: 86px;
    border: 1px solid silver;
}

.img-employee{
    height:170px;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
}

.data-employee{
    border: 2px solid #eee;
    padding: 0px;
}

.item{
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.content-img{
    width: 40%;
}

.content-info{
    width: 60%;
}

.data{
    margin-left: 15px;
    margin-top: 50px;
}

.name{
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}

.name:hover{
    text-decoration: underline;
}

mat-expansion-panel-header{
    height: 81px !important;
}

mat-panel-title{
    font-weight: bold;
}

.position{
    color: gray;
}